<div class="col-sm-4">
    <div class="key">
        <h4 class="uppercase">Key</h4>
            <ul>
                <li class="target">Item Location</li>
                <li class="check-out">Check Out Location</li>
                <li class="ask-us">Ask Us</li>
                <li class="computer-lab">Computer Lab</li>
                <li class="scanner">Scanner</li>
                <li class="nusearch-station">NUSearch Location</li>
            </ul>
    </div>
</div>