<div class="links col-9">
	<ul class="float-right">
		<li><a href="http://www.library.northwestern.edu/visit/hours/index.html"><img src="/images/clock.svg" alt="hours" width="12px">Hours</a></li>
		<li><a href="http://www.library.northwestern.edu/research/ask-us/index.html"><img src="/images/chat.svg" alt="chat" width="12px">Ask Us</a></li>
		<li><a href="https://search.library.northwestern.edu/primo-explore/account?vid=NULVNEW&lang=en_US"><img src="/images/user.svg" alt="your account" width="12px">Your Account</a></li>
		<li><a href="http://www.library.northwestern.edu/about/support/index.html"><img src="/images/present.svg" alt="support us" width="12px">Support Us</a></li>
		<li>Information for <img src="/images/arrow.png" alt="more info for">
			<ul>
				<li><a href="http://www.library.northwestern.edu/undergraduate.html">Undergraduate students</a></li>
				<li><a href="http://www.library.northwestern.edu/graduate.html">Graduate students</a></li>	
				<li><a href="http://www.library.northwestern.edu/faculty-staff/index.html">Faculty & staff</a></li>
				<li><a href="http://www.library.northwestern.edu/alumni-visitors.html">Alumni & visitors</a></li>
			</ul>
        </li>
	</ul>
</div>
<div>
    <ul class="float-right">
        <li>Manage Locations
            <ul>
                <li>View All Locations</li>
                <li>Create New Location</li>
            </ul>
        </li>
        <li>Manage Mappings</li>
        <li>Manage Users
            <ul>
                <li>View All Users</li>
                <li>Create New User</li>
            </ul>
        </li>
        <li><img src="/images/user.svg" alt="your account" width="12px">User Name</li>  
    </ul>
</div>